@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;700&family=Montserrat&family=Noto+Serif:ital@1&family=Pacifico&display=swap');

$strongColor: rgb(86, 79, 204);
$titleColor: #ffc55c;
$fontFamily: 'Fira Sans', sans-serif;
$normalColor: white;
$blackColor: black;
$lightViolet: #f4eeff;
$morelightViolet: #dcd6f7;
$hoverColor: #a6823c;

$fontFamilyHelloSentence: 'Courgette', cursive, sans-serif;
$fontFamilyAbout: 'Montserrat', sans-serif;
$fontFamilyAboutContent: 'Noto Serif', serif;
$fontQuote: 'Lobster', cursive;
