@import '../../assests/styles/main';

// Tech Part
.techStack {
  // @include basicMargin(3% 13% 2% 10%);
  // @include titleSection(40px 0px);
  @include titleSection(40px);

  height: 30vh;

  &__1 {
    @include flex-spaceAround;
    // background-color: #a38269;
    padding: 30px;
  }
  a {
    color: red;
  }
  i {
    font-size: 60px;
    margin: 20px;
  }
  @include for-tablet-highlight;
}
