@import '../../assests/styles/main';

.section{
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  // padding-bottom: 10%;
  // height: 50vh;

  &__title {
    color: $blackColor;
    padding-bottom: 1rem;
    font-size: 22px;
    font-weight: normal;
    border-bottom: 5px solid;
    border-color: $hoverColor;
    width: 35%;
    margin: 4em 0 2em;
    text-transform: uppercase;
  }
  &__about {
    display: flex;
  }
    // This style for the content top
    // --> LEFT Content <-- 
    &__left-column-top {
      display: block;
      flex: 2 1 0;
    font-family: $fontQuote;

    }
    &__left-content{
      margin-bottom: 1rem;
      margin-top: -8px;
      margin-right: 3rem;
      font-size: 35px;
      line-height: 1.65;
      // font-weight: 300;
      font-family: "Merriweather";
    // font-family: $fontQuote;
    // font-family: 'Catamaran', sans-serif;

    ;
      font-weight: bold;
    }
    &__left-content-p{
      text-align: right;
      margin-right: 5rem;
      font-size: 20px;


    }
    
    // --> RIGHT Content <-- 
    &__right-column-top {
      font-size: 24px;
      line-height: 1.27;
      flex: 3 1 0; 
      display: block;
      font-family: "Merriweather", serif;
    }
    &__right-content{
      font-size: 22px;
      line-height: 1.67;
      margin: 0 0 1.45px 0;
    }

  // This style for the picture bottom
  &__image {
    display: flex;
    margin-bottom: 1.45rem;
    align-items: center;
    
  }  
  &__test{
    width: calc(0.4 * (100vw - 280px) + 140px)
  }
    &__left-column-bottom{
      position: relative;
      overflow: hidden;
      width: calc(100% + 140px);

      &__left-img{
        display: flex;
        flex: 2 1 0;
      }
    }
    
    &__test2{
      width: calc(0.4 * (100vw - 280px) + 140px);
    }
    &__right-column-bottom{
      position: relative;
      overflow: hidden;
      display: block;
      &__right-img {
      display: flex;
      flex: 2 1 0;
       }
    }
}

@media (max-width: 1280px) {
  .section {
    &__title {
    font-size: 16px;
  }
  &__left-content{ 
  font-size: 32px;
  }
}
}

@media (max-width: 1024px) {
  .section {
    &__title {
    font-size: 14px;
  }
  &__left-content{ 
  font-size: 24px;
  }
  &__right-column-top{
    font-size: 20px;
  }
}
}

@media (max-width: 978px) {
  .section {
    &__title {
    font-size: 10px;
  }
  &__left-content{ 
  font-size: 18px;
  }
  &__right-column-top{
    font-size: 13px;
  }
}
}

@media (max-width: 414px) {
  .section {
    &__title {
    font-size: 6px;
    border-bottom: 2px solid;
    border-color: $hoverColor;
    padding-bottom: 1em;

  }
  &__left-content{ 
    font-size: 12px;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  &__right-column-top{
    font-size: 10px;
  }
}
}





