@mixin flex-spaceAround {
  display: flex;
  justify-content: space-around;
}

@mixin flex-spaceAround {
  display: flex;
  justify-content: space-around;
}

@mixin basicMargin($value) {
  margin: $value;
}

@mixin title-content {
  padding-bottom: 25px;
  // color: #dea22f;
  color: #c36154;

  font-family: $fontFamilyHelloSentence;
  font-size: 30px;
}

@mixin titleSection($padding) {
  h2 {
    font-family: $fontFamilyAboutContent;
    color: #0b2635;
    font-size: 35px;
    text-align: center;
    padding: $padding;
  }
}

@mixin button {
  padding: 20px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: black;
  color: white;
  &:hover {
    // background-color: $hoverColor;
    background-color: #c36154;
  }
  &:active {
    background-color: gray;
    transform: translateY(4px);
  }
}

// @mixin for-mobile-small {
//   @media (max-width: 320px) {
//     @content;
//   }
// }
// @mixin for-mobile {
//   @media (max-width: 414px) {
//     a,
//     ul {
//       font-size: 15px;
//       padding: 0px;
//       box-sizing: none;
//     }
//   }
// }

//Reponsive style

@mixin for-tablet-header {
  @media (max-width: 768px) {
    height: 100vh;
  }
}
@mixin for-tablet-highlight {
  @media (max-width: 768px) {
    @content;
    &__child {
      @include flex-spaceAround;
      flex-direction: column;
      align-items: center;

      margin: 0px 35px;
    }
    &__article {
      width: 90%;
      button {
        margin: 5% 38% 5% 38%;
      }
    }
    &__cl1 {
      width: 100%;
      height: auto;
    }

    &__cl2 {
      width: 100%;
      height: auto;
      button {
        margin: 20px 0px;
      }
    }

    i {
      font-size: 40px;
    }

    &__container {
      width: 70%;
      button {
        width: 40%;
      }
    }
  }
}
// @mixin for-tablet-small {
//   @media (max-width: 992px) {
//     @content;
//   }
// }

//need to fix from here
@mixin for-tablet-large {
  @media (max-width: 1024px) {
    .header {
      height: 290px;
      width: 183px;
      background-size: 100%;
      vertical-align: middle;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      &__hi {
        font-size: 25px;
      }
    }

    //   @include basicMargin(2% 8% 2% 8%);
    //   @include titleSection(20px 0px);

    //   button {
    //     margin: 8% 20% 8% 20%;
    //   }

    //   &__cl2 {
    //     width: 40%;
    //   }

    //   &__container {
    //     padding: 20px 10px 30px 10px;
    //     width: 50%;
    //     button {
    //       width: 40%;
    //     }
    //   }
  }
}
@mixin for-small-screen {
  @media (max-width: 1280px) {
    .header {
      height: 520px;
      background-size: cover;
      &__hi {
        font-size: 28px;
      }
    }

    // &__cl2 {
    //   width: 45%;
    // }
  }
}
// @mixin for-medium-screen {
//   @media (max-width: 1366px) {
//     @content;
//   }
// }
// @mixin for-medium-large-screen {
//   @media (max-width: 1440px) {
//     @content;
//   }
// }
@mixin for-medium-large-screen-x {
  @media (max-width: 1680px) {
    height: 700px;
    background-size: cover;
    &__hi {
      font-size: 38px;
    }

    // button {
    //   padding: 15px 25px;
    //   margin: 10% 30% 10% 30%;
    // }
  }
}
@mixin for-large-screen {
  @media (min-width: 1920px) {
    @content;
    // font-size: 90px;
  }
}
