@import '../../assests/styles/main';

.footer {
  padding: 1%;
  text-align: center;
  font-size: 15px;
  background-color: #242734;
  color: white;
  font-family: $fontFamilyAboutContent;
  letter-spacing: 2px;
}

.em-heart {
  background-image: url(https://twemoji.maxcdn.com/2/72x72/2764.png);
}

.em, .em-svg {
  height: 1em;
  width: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.footer p i {
  animation: heartbeat 1s infinite;
 }

 @media (max-width: 414px) {
  .footer {
  font-size: 8px;

  }
 }