@import '../../assests/styles/main';

.blogs {
  @include basicMargin(3% 13% 2% 10%);
  @include titleSection(40px 0px);

  &__child {
    @include flex-spaceAround;
    margin: 25px 0;
  }

  &__cl1 {
    border-radius: 40px;
    img {
      width: 380px;
      height: 380px;
    }
  }
  &__cl2 {
    width: 55%;
    background-color: #fcf2fd;
    padding: 2% 0 0 5%;
    border-radius: 40px;
    h2,
    p,
    span,
    button {
      margin: 15px;
      text-align: justify;
      color: black;
    }
    button {
      color: white;
    }

    h2 {
      color: #778899;
    }
  }
  &__button {
    @include button;
  }
  h3 {
    @include title-content;
  }
  @include for-tablet-large;
  @include for-small-screen;
  @include for-tablet-highlight;
}
